# Common dependencies directories
target
out
cache
**temp
**.DS_Store
**Cargo.lock
**package-lock.json
**yarn.lock
**.env
hypernova/eth-supra/config.toml
**smr_public_key.json
**smr_secret_key.pem
**secrets.txt
**secrets.txt.enc
**supra_history
**.log
**.trace
**.mvcov

**/broadcast
**/target
**/out
**/cache
**/lib
**/logs/
**/node_modules
**/.idea
**/.vscode
**/.aptos
**/build
**/supra_node_logs
